In [1]:
import pandas as pd
import os

list_dir = ["firstiteration_output_lemmas", "firstiteration_output_pos"]
for dir_path in list_dir :
    nb_of_file = 0
    for path in os.listdir(dir_path):
        # check if current path is a file
        nb_of_file += 1
    print(f"dossier {dir_path} : {nb_of_file} fichiers")

dossier firstiteration_output_lemmas : 3516 fichiers
dossier firstiteration_output_pos : 3516 fichiers

In [6]:
# debugging : the batches all miss one line

test = pd.read_csv(f"test_batchLEM_0.csv", sep = ",", names=["col"])
test = test.T
temp0 = [i for i in test]
one_concat_lemma = pd.DataFrame(temp0)

s_lemma = one_concat_lemma.T
s_lemma = s_lemma.rename(columns = {0 : "lemma"})

temp = [i for i in s_lemma["lemma"]]
df_lemma = pd.DataFrame(temp)

df_lemma.shape

(5, 1)

In [2]:
s_lemma = pd.DataFrame()
s_postag = pd.DataFrame()
# go through all the files saved after lemmatization
# create a dataframe where each line is the list of lemmas for one contribution

for i in range(nb_of_file) :
    one_concat_lemma = pd.read_csv(f"firstiteration_output_lemmas/lemma_temp_{i}.csv", sep = ",", names=["col"])
    one_concat_lemma = one_concat_lemma.T
    temp0 = [i for i in one_concat_lemma]
    one_concat_lemma = pd.DataFrame(temp0)
    # dtype is objects. list is a python object.

    one_concat_postag = pd.read_csv(f"firstiteration_output_pos/pos_temp_{i}.csv", sep = ",", names=["col"])
    one_concat_postag = one_concat_postag.T
    temp = [i for i in one_concat_postag]
    one_concat_postag = pd.DataFrame(temp)
    s_lemma = pd.concat([s_lemma,one_concat_lemma], axis=1)
    s_postag = pd.concat([s_postag,one_concat_postag], axis=1)


s_lemma = s_lemma.T
s_lemma = s_lemma.rename(columns = {0 : "lemma"})

s_postag = s_postag.T
s_postag = s_postag.rename(columns = {0 : "postag"})

# def print_full(df):
#     import pandas as pd
#     pd.set_option('display.max_rows', 99)
#     pd.set_option('display.max_columns', 99)

#     print(df)
#     pd.reset_option('display.max_rows')

#     pd.reset_option('display.max_columns')

In [7]:
# flatten the dataframe
temp = [i for i in s_lemma["lemma"]]
df_lemma = pd.DataFrame(temp)

In [8]:
df_lemma

                                                        0
0       ['bien', 'que', 'nous', 'penser', 'que', 'ce',...
1       ['oubli', 'systématique', 'de', 'le', 'fonctio...
2       ['article', '1', 'de', 'code', 'de', 'le', 'co...
3       ['MR', 'gravion', 'gille', 'retour', 'de', 'L....
4       ['commune', 'de', 'caumont', 'aure', 'retour',...
...                                                   ...
221524  ['le', 'un', 'de', 'cause', 'de', 'le', 'révol...
221525  ['1', 'le', 'élu', ',', 'justement', 'parce', ...
221526  ['quelle', 'être', 'tout', 'le', 'chose', 'qui...
221527  ['1', 'publier', 'le', 'budget', 'de', 'minist...
221528  ['1', 'maire', '2', 'non', '3', 'cahier', 'de'...

[221529 rows x 1 columns]

In [9]:
temp = [i for i in s_postag["postag"]]
df_postag = pd.DataFrame(temp)

In [10]:
df_postag

                                                        0
0       ['ADV', 'SCONJ', 'PRON', 'VERB', 'SCONJ', 'PRO...
1       ['NOUN', 'ADJ', 'ADP', 'DET', 'NOUN', 'ADJ', '...
2       ['NOUN', 'NUM', 'ADP', 'NOUN', 'ADP', 'DET', '...
3       ['PROPN', 'VERB', 'ADJ', 'NOUN', 'ADP', 'PROPN...
4       ['NOUN', 'ADP', 'PROPN', 'VERB', 'NOUN', 'PROP...
...                                                   ...
221524  ['DET', 'PRON', 'ADP', 'NOUN', 'ADP', 'DET', '...
221525  ['NUM', 'DET', 'NOUN', 'PUNCT', 'ADV', 'SCONJ'...
221526  ['ADJ', 'AUX', 'ADJ', 'DET', 'NOUN', 'PRON', '...
221527  ['NUM', 'VERB', 'DET', 'NOUN', 'ADP', 'NOUN', ...
221528  ['NUM', 'NOUN', 'NUM', 'ADV', 'NUM', 'NOUN', '...

[221529 rows x 1 columns]

In [5]:
df = pd.read_csv("contrib_from_csv.csv", sep = ",", encoding = "utf-8", dtype= str)
df.shape

(225045, 10)

In [ ]:
first_step_df = pd.concat(df, df_lemma, ignore_index=True)

In [ ]:
second_step_df = pd.concat(first_step_df, df_postag, ignore_index=True)

In [ ]:
second_step_df

In [ ]:
second_step_df.to_csv("final_dataset_server.csv", index = False)